Python/Amazon Product Link - Links.csv
Python/Amazon_Desc_scraper.py
Python/bs4.ipynb
Python/Flipkart_Desc_scraper.py
Python/.ipynb_checkpoints/bs4-checkpoint.ipynb
Python/Amazon Product Link - Links.csv
Python/Amazon_Desc_scraper.py
Python/bs4.ipynb
Python/Flipkart_Desc_scraper.py
Python/.ipynb_checkpoints/bs4-checkpoint.ipynb
