<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Farms</title>
</head>
<body>
    <h1>Farms</h1>
    <ul>
        <% for (let far of farms){ %>
        <li><a href="/farms/<%= far._id %> "><%= far.name%></a> </li> 
        <% } %>
    </ul>
    <a href="/farms/new"><button>Add New Shop</button></a>
    <a href="/products"><button>All Products</button></a>
</body>
</html>