<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Farm</title>
</head>
<body>
    <h1>Add Shop</h1>
    <form action="/farms" method="POST">
        <label for="name">Shop Name</label>
        <input id="name" type="text" placeholder="Shop Name" name="name">
        <label for="city">City</label>
        <input id="city" type="text" placeholder="city" name="city">
        <label for="email">Email</label>
        <input id="email" type="email" placeholder="email" name="email">
        <button>Add Shop</button>
    </form>
</body>
</html>